.container {
  padding: 40px;
  margin: 40px;
  border-radius: 5px;
  background-color: #fff;
}

.stepper {
  margin-bottom: 30px;
}

.steps-container {
  margin: 40px;
}

.MuiButtonBase-root.back-btn {
  margin-right: 20px;
}

.form {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    margin: 0;
  }
}
